<div class="row d-flex">
  <!-- Default inline 1-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample"
      mdbInputDirective>
    <label class="custom-control-label" for="defaultInline1">New</label>
  </div>

  <!-- Default inline 2-->
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample"
      mdbInputDirective>
    <label class="custom-control-label" for="defaultInline2">Existing</label>
  </div>
  <!-- <select class="mdb-select mdb-form"  Search searchable="Search here.."> -->
  <select class="mdb-select" searchable="Search here..">
    <option value="" disabled selected>Select car to Log</option>
    <option value="1">USA</option>
    <option value="2">Germany</option>
    <option value="3">France</option>
    <option value="3">Poland</option>
    <!-- <option *ngFor="let car of cars">{{car.plate}}</option> -->
  </select>
  <!-- <mdb-select [options]="groupOptionsSelect" placeholder="Choose your vehicle"></mdb-select> -->
</div>

<!--Projects section v.2-->
<section class="section text-center pb-3">
  <!--Grid row-->
  <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!-- Default form login -->
      <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Movement Out</p>

        <p class="h6 mb-4">NJ 125</p>

        <div>
          <label class="row d-flex justify-content-left">Driver</label>
          <input type="text" id="Driver_name" class="form-control mb-4" placeholder="Driver">
        </div>
        <div>
          <label class="row d-flex justify-content-left">Reason</label>
          <input type="text" id="Reason" class="form-control mb-4" placeholder="Reason">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Fuel out</label>
          <input type="text" id="Fuel_out" class="form-control mb-4" placeholder="Fuel out">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Km out</label>
          <input type="text" id="Km_out" class="form-control mb-4" placeholder="Km out">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Damages</label>
          <input type="text" id="Damage" class="form-control mb-4" placeholder="Damage">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Date time out</label>
          <input type="text" id="Data_out" class="form-control mb-4" placeholder="Date-Time out">
        </div>

        <button class=" -roundedbtn btn-floating btn-blue-grey btn-lg"><i class="fa fa-folder-open"></i></button>
        <button class=" -roundedbtn btn-floating btn-blue-grey btn-lg"><i class="fa fa-edit"></i></button>
        <button class=" -roundedbtn btn-floating btn-blue-grey btn-lg"><i class="fa fa-check"></i></button>

      </form>

    </div>
    <!--Grid column-->

    <!-- Default form login -->

    <!-- Default form login -->


    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">
      <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Movement In</p>

        <p class="h6 mb-4">NJ 125</p>

        <div>
          <label class="row d-flex justify-content-left">Driver</label>
          <input type="text" id="Driver_name" class="form-control mb-4" placeholder="Driver">
        </div>
        <div>
          <label class="row d-flex justify-content-left">Reason</label>
          <input type="text" id="Reason" class="form-control mb-4" placeholder="Reason">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Fuel in</label>
          <input type="text" id="Fuel_out" class="form-control mb-4" placeholder="Fuel in">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Km in</label>
          <input type="text" id="Km_out" class="form-control mb-4" placeholder="Km in">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Damages</label>
          <input type="text" id="Damage" class="form-control mb-4" placeholder="Damage">
        </div>
        <div>
            <label class="row d-flex justify-content-left">Date time in</label>
          <input type="text" id="Data_out" class="form-control mb-4" placeholder="Date-Time in">
        </div>

        <button class=" -roundedbtn btn-floating btn-blue-grey btn-lg"><i class="fa fa-folder-open"></i></button>
        <button class=" -roundedbtn btn-floating btn-blue-grey btn-lg"><i class="fa fa-edit"></i></button>
        <button class=" -roundedbtn btn-floating btn-blue-grey btn-lg"><i class="fa fa-check"></i></button>


      </form>

    </div>
    <!--Grid column-->
    <!-- Default form login -->
  </div>
</section>
