<div class="container">
    <h3 mat-dialog-title>{{data.make}} - {{data.registration}}</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required disabled>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
  
      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Make" [(ngModel)]="data.make" name="make"  >
          <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
  
      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" placeholder="Date Added" [(ngModel)]="data.date_added" name="date_added"  >
          <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
          <!-- <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
      </div>
  
      <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Year" [(ngModel)]="data.year" name="year">
          </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Colour" [(ngModel)]="data.colour" name="colour">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate placeholder="Kilometers" [(ngModel)]="data.kms" maxlength="6" name="kms">
          <mat-hint align="end">{{inputstate.value?.length || 0}}/6</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Tank" [(ngModel)]="data.tank" name="tank">
          </mat-form-field>
        </div>

      <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Registration" [(ngModel)]="data.registration" name="registration">
          </mat-form-field>
        </div>

      <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Status" [(ngModel)]="data.status" name="status">
          </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
  