<div class="hi">
  <div class="card mb-4" (scroll)="onScroll($event)">

    <!--Card content-->
    <div class="card-body pr-5 d-sm-flex justify-content-between">
  
      <!-- Heading -->
      <h4 class="mb-sm-0">
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Clients</a>
        <span>/</span>
        <span>Lwandolwethu Qwabe</span>
      </h4>
  
      <form class="d-flex justify-content-center">
        <!-- Default input -->
        <input type="search" placeholder="Query clients" aria-label="Search" class="form-control">
        <button class="btn btn-primary btn-sm " type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>  
  
  <!-- Heading -->
  <div class="col-12 row my-scroller" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="col-3" *ngFor="let client of clients">
      <!--Card-->
      <div class="card card-cascade narrower d-flex mb-4">
  
        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/Card image-->
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title font-bold mb-2">
            <strong>{{client.first_name}} {{client.last_name }}</strong>
          </h4>
          <!-- <h5 class="indigo-text"><strong>Photographer</strong></h5> -->
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
  
          <h6 class='text-justify'>
            <strong>Name: </strong><label id="firstname">{{client.first_name}} </label><br />
            <strong>Surname: </strong><label id="lastname">{{client.last_name}} </label><br />
            <strong>Email address: </strong><label id="email">{{client.email}}</label><br />
          </h6>
          <div class="myDIV" *ngIf="viewMore">
            <h6 class='text-justify'>
              <strong>ID number: </strong><label id="id_number">032514 0255 087</label><br />
              <strong>Contact: </strong><label id="contact_num">078 147 5632</label><br />
              <strong>Tell work: </strong><label id="tell_num">039 154 8478</label><br />
              <strong>Reservations: </strong><label id="numBusiness">10</label><br />
              <strong>Home address: </strong><label id="home_add">Mariston Hotel</label><br />
              <strong>Pick up date: </strong><label id="pdate">14-06-18</label><br />
              <strong>Pick up time: </strong><label id="ptime">20-07-18</label><br />
              <strong>Next of kin: </strong><a id="othembekile">Olwethu</a><br />
              <strong>General: </strong>
            </h6>
            <!-- <p class='text-justify'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione perferendis quod animi dignissimos consectetur
            quibusdam numquam laboriosam, minus, provident...</p> -->
          </div>
  
          <div class="text-right">
            <button type="button" (click)="viewMore = !viewMore" class="btn btn-outline-primary btn-rounded  btn-sm"
              mdbWavesEffect>More...</button>
          </div>
  
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>