<mat-toolbar class="d-block py-3 container mx-auto" color="primary">
  <span>Fleet Sheet -:- </span>
  <span class="spacer"></span>
  Reload data -:-
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8 px-0">

  <div class="form">
    <mat-form-field class="w-75" floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter Fleet">
    </mat-form-field>
    <mat-form-field class="w-25 pl-5">
      <mat-label>Select Filter Option</mat-label>
      <mat-select [(ngModel)]="$selectedOption" (selectionChange)="getSelectedOption()">
        <mat-option>None</mat-option>
        <mat-option value="index">Id</mat-option>
        <mat-option value="make">Make</mat-option>
        <mat-option value="date_Added">Date Added</mat-option>
        <mat-option value="year">Year</mat-option>
        <mat-option value="colour">Colour</mat-option>
        <mat-option value="tank">Tank</mat-option>
        <mat-option value="kms">Kmz</mat-option>
        <mat-option value="registration">Registration</mat-option>
        <mat-option value="status">Status</mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.index}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="make">
      <mat-header-cell *matHeaderCellDef mat-sort-header>MAKE</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.make}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date_added">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DATE ADDED</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date_added}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header>YEAR</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.year}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header>COLOUR</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.color}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kms">
      <mat-header-cell *matHeaderCellDef mat-sort-header>KMZ</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.kms}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tank">
      <mat-header-cell *matHeaderCellDef mat-sort-header>TANK</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.tank}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="registration">
      <mat-header-cell *matHeaderCellDef mat-sort-header>REGISTRATION</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.registration}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row;">
        <button mat-icon-button color="accent" (click)="startEdit(row.index, row.make, row.date_added, row.year, row.kms, row.tank, row.registration, row.color, row.status)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row.index, row.make, row.date_added, row.year, row.kms, row.tank, row.registration, row.color, row.status)">
          <mat-icon class="trash-can" aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
