<div class="res-main">

  <div class="existing-client-toggle mb-3">
    <mat-slide-toggle
    [checked]="stateCtrl.disabled"
    (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
    Existing User
  </mat-slide-toggle>
  </div>

  <div class="existing-client px-3" *ngIf="stateCtrl.disabled">
    <form class="existing-client-form">
      <mat-form-field class="existing-client-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    
  </div>
</div>